@model Exposure.Entities.Job

@{
    ViewBag.Title = "Job Details";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Back to Jobs", "Index")
</p>

<div>
    <div class="col-md-3"></div>
    <div class="col-md-6 row panel panel-default" style="padding:3em">
        <div class="col-md-6" style="font: bold 200">
            <strong>@Html.DisplayNameFor(model => model.Title) </strong>
        </div>

        <div class="col-md-6">
            @Html.DisplayFor(model => model.Title)
        </div>
        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.Description)</strong>
        </div>

        <div class="col-md-6">
            @Html.DisplayFor(model => model.Description)
        </div>

        <div class="col-md-6">
            <strong> @Html.DisplayNameFor(model => model.Skill.SkillDescription)</strong>
        </div>

        <div class="col-md-6">
            @Html.DisplayFor(model => model.Skill.SkillDescription)
        </div>
        <div class="col-md-6">
            <strong> @Html.DisplayNameFor(model => model.Suburb.SubName)</strong>
        </div>

        <div class="col-md-6">
            @Html.DisplayFor(model => model.Suburb.SubName)
        </div>
        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.StartDate)</strong>
        </div>

        <div class="col-md-6">
            @Html.DisplayFor(model => model.StartDate)
        </div>

        <div class="col-md-6">
            <strong> @Html.DisplayNameFor(model => model.EndDate)</strong>
        </div>

        <div class="col-md-6">
            @Html.DisplayFor(model => model.EndDate)
        </div>

        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.StartTime)</strong>
        </div>

        <dic class="col-md-6">
            @Html.DisplayFor(model => model.StartTime)
        </dic>

        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.EndTime)</strong>
        </div>

        <div class="col-md-6">
            @Html.DisplayFor(model => model.EndTime)
        </div>

        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.Rate)</strong>
        </div>

        <div class="col-md-6">
            @Html.DisplayFor(model => model.Rate)
        </div>
        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.DateAdvertised)</strong>
        </div>

        <div class="col-md-6">
            @Html.DisplayFor(model => model.DateAdvertised)
        </div>
        <div class="col-md-6">
            <strong> @Html.DisplayNameFor(model => model.Completed)</strong>
        </div>

        <div class="col-md-6">
            @Html.DisplayFor(model => model.Completed)
        </div>


    </div>
    <div class="col-md-3"></div>

</div>















</dl>


