@using PagedList;
@using PagedList.Mvc;
@using System.Web.Mvc;
@model IPagedList<Exposure.Entities.Job>

@{
    ViewBag.Title = "Jobs";
}


<div class="row">
    <div class="col-md-2">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-3">

        @if (User.IsInRole("Employer"))
        {
            <a href="@Url.Action("Create", "Jobs")" class="btn btn-default">Create new</a>
        }
    </div>
    <div class="col-md-offset-2 col-md-5" style="text-align:right">
        @using (Html.BeginForm("Search", "Jobs", FormMethod.Get))
        {
            <div class="col-md-offset-3 col-md-6">
                <br />
                @Html.Editor("search", new { htmlAttributes = new { @class = "form-control clearable", @placeholder = "Search" } })
            </div>
            <div class="col-md-3" style="vertical-align:top">
                <br />
                <input type="submit" class="btn btn-default" value="Search" />
            </div>


        }
    </div>
</div>

<hr />
@using (Html.BeginForm("Search", "Jobs", FormMethod.Get))
{
    <div class="row search">
        <div class="col-md-2">
            <p>Category: </p>@Html.DropDownList("skill", null, "All", new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <p>Location: </p>@Html.DropDownList("location", null, "All", new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <p>Sort by: </p>@Html.DropDownList("sortOrder", new SelectList(
 new List<Object>
 {
            new{value="date", text= "Latest"},
            new{value="date_desc", text="Oldest"},
            new {value="rate", text="Rate"},
            new {value="rate_desc", text="Rate(Desc)"}
 },
     "value", "text", 2), new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <p>From: &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <i><a href="#" id="ClearDate" class="btn-danger btn-xs" data-toggle="tooltip" title="Clear">&times;</a></i> </p> @Html.TextBox("frmDate", null, new { @class = "form-control datepicker", @id = "frmDate", onkeydown = "return false", onpaste = "return false", placeholder = "Select from date" })
        </div>
        <div class="col-md-2">
            <p>To:  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <i><a href="#" id="ClearDate" class="btn-danger btn-xs" data-toggle="tooltip" title="Clear">&times;</a></i></p> @Html.TextBox("toDate", null, new { @class = "form-control datepicker", @id = "toDate", onkeydown = "return false", onpaste = "return false", placeholder = "Select to date" })
        </div>
        <div class="col-md-2" style="text-align:right">
            <br />
            <input type="submit" class="btn btn-default" value="Filter" style="width:100px" />
        </div>
    </div>
}
<br />
<div class="col-md-12">
    <table class="table">
        @if (TempData["Empty"] != null)
        {
            <tr>@TempData["Empty"]</tr>
        }
        @foreach (var item in ViewBag.Jobs)
        {
            <tr>
                <td>
                    <strong>Title:</strong> @item.Title<br />
                    <strong>Location:</strong> @item.Suburb.SubName <br />
                    <strong>Rate(ZAR):</strong> @item.Rate <br />
                    <strong>Start Date:</strong> @item.StartDate<br />
                    <strong>Start Time:</strong> @item.StartTime<br />
                    <strong>Employer:</strong> @item.Employer.ApplicationUser.FirstName  @item.Employer.ApplicationUser.LastName<br />
                    <strong>Description: </strong> <br />
                    @item.Description<br />
                </td>
                <td align="right">
                    <strong>Date Advertised:</strong><br />
                    @item.DateAdvertised<br /><br /><br />

                    @if (User.IsInRole("Worker") || User.Identity.IsAuthenticated == false)
                    {
                        <a href="@Url.Action("Create", "JobApplications", new { id = item.JobID, skill = item.SkillID })" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Click Here To Apply" style="vertical-align:bottom">Apply</a><br />

                    }

                </td>
            </tr>

        }
    </table>

</div>
<div class="col-md-10">
    <div class="center">
        @Html.PagedListPager(Model, page => Url.Action("Search", new { page, pageSize = Model.PageSize }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Jobs
    </div>
</div><br />
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

    });

    var $dates = $('#frmDate, #toDate').datepicker();
    $("#ClearDate").on('click', function () {
        $("#frmDate").datepicker('setDate', null);
        $("#toDate").datepicker('setDate', null);
    })

    $(function () {
        $("#frmDate").datepicker({
            onSelect: function (selected) {
                $("#toDate").datepicker("option", "minDate", selected)
            }
        })

        $("#toDate").datepicker({

        })


    })

    $("#clear").click(function () {
        $(this).text("")
    })


</script>

