@model Exposure.Entities.Incident

@{
    ViewBag.Title = "Report Incident";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr/>       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">            
            <h3>Job Details</h3>
            <div class="col-md-6">
                @foreach (var job in ViewBag.Job)
                {
                    <div class="row">
                        <div class="col-md-6"><strong>Title</strong></div>
                        <div class="col-md-6">@job.Title</div>
                    </div>

                    <div class="row">
                        <div class="col-md-6"><strong>Description</strong></div>
                        <div class="col-md-6">@job.Description</div>
                    </div>

                    <div class="row">
                        <div class="col-md-6"><strong>Date (Start Date)</strong></div>
                        <div class="col-md-6">@job.StartDate</div>
                    </div>

                    <div class="row">
                        <div class="col-md-6"><strong>Rate</strong></div>
                        <div class="col-md-6">@job.Rate</div>
                    </div>

                    <div class="row">
                        <div class="col-md-6"><strong>Description</strong></div>
                        <div class="col-md-6">@job.Skill.SkillDescription</div>
                    </div>

                    <div class="row">
                        <div class="col-md-6"><strong>Location</strong></div>
                        <div class="col-md-6">@job.AddressLine1 <br/>
                                              @job.AddressLine2 <br/>
                                              @job.Suburb.SubName <br/>
                                              @job.Suburb.City.CityName
                        </div>
                    </div> 
                    @if (User.IsInRole("Worker"))
                    {
                        @Html.HiddenFor(model => model.OffenderID, new { Value = job.EmployerID })
                    }
                    else
                    {
                        foreach (var i in ViewBag.Apps)
                        {
                            @Html.HiddenFor(model => model.OffenderID, new { Value = i.WorkerID })
                        }

                    }
                }

             </div>
             <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows=8, columns=70 })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>

        
    </div>
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
