@model IEnumerable<Exposure.Entities.JobApplication>

@{
    ViewBag.Title = "Report Incident";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Job
        </th>
        <th>
            Skill
        </th>
        <th>
            Date Advertised
        </th>
        <th>
            Job Description
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>

        <th>
            Rate
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (User.IsInRole("Worker"))
                {
                    @item.Job.Employer.ApplicationUser.FirstName<text>&nbsp;</text> @item.Job.Employer.ApplicationUser.LastName
                }
                else if (User.IsInRole("Employer"))
                {
                    @item.Worker.ApplicationUser.FirstName<text>&nbsp;</text>@item.Worker.ApplicationUser.LastName
                }
            </td>
            <td>
                @item.Job.Title
            </td>
            <td>
                @item.Job.Skill.SkillDescription
            </td>
            <td>
                @item.Job.DateAdvertised.ToShortDateString();
            </td>
            <td>
                @item.Job.Description
            </td>
            <td>
                @item.Job.StartDate.ToShortDateString()
            </td>
            <td>
                @item.Job.EndDate.Value.ToShortDateString()
            </td>
            <td>
                <text>R</text>@item.Job.Rate
            </td>

            <td>
                @if (User.IsInRole("Worker"))
                {
                    <a href="@Url.Action("Create", "Incidents", new { job = item.Job.JobID, userID = item.Job.EmployerID })" class="btn btn-default">Report user</a>

                }
                else if (User.IsInRole("Employer"))
                {
                    <a href="@Url.Action("Create", "Incidents", new { job = item.Job.JobID, userID = item.WorkerID })" class="btn btn-default">Report user</a>

                }
            </td>
        </tr>

    }
</table>
