@model IEnumerable<Exposure.Entities.Help>

@{
    ViewBag.Title = "Help Questions";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-3">
        <a href="@Url.Action("Index","Manage")">Back to Management</a>
    </div>
    <div class="col-md-push-7 col-md-2">
        <a href="@Url.Action("Create","Helps")" class="btn btn-default">Add Question</a>
    </div>
</div>
<br/>
<table class="table table-striped" >
    <tr>
        <th width="350">
            @Html.DisplayNameFor(model => model.HelpQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HelpAnswer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HelpQuestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HelpAnswer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HelpID }) 
            
            @Html.ActionLink("Delete", "Delete", new { id=item.HelpID })
        </td>
    </tr>
}

</table>
