@model IEnumerable<Exposure.Entities.Help>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HelpQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HelpAnswer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HelpQuestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HelpAnswer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HelpID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HelpID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HelpID })
        </td>
    </tr>
}

</table>
