<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Images/Logo.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title-Exposure</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.428571429;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

            .btn:hover,
            .btn:focus {
                color: #333333;
                text-decoration: none;
            }

        .btn-default {
            color: #e7e7e7;
            background-color: #ff6a00;
            border-color: #eeeeee;
        }

            .btn-default:hover,
            .btn-default:focus,
            .btn-default:active,
            .btn-default.active,
            .open .dropdown-toggle.btn-default {
                color: #ff6a00;
                background-color: #ebebe3;
                border-color: #ff6a00;
            }

        .nav > li.disabled > a:hover,
        .nav > li.disabled > a:focus {
            color: #999999;
            text-decoration: none;
            cursor: not-allowed;
            background-color: transparent;
        }

        .footer {
            position: relative, sticky;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }

        .wrapper {
            min-height: 5%;
            margin-bottom: -15px;
        }
        /*.footer, .push{
            height:100px;
            width:100%;
            bottom:0;
            left:0;
        }*/
    </style>
</head>
<body>
    <div class="container">
        <div class="row hidden-md hidden-sm hidden-xs">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="align-items:center">
                <img src="~/Images/expo.png" class="img-thumbnail" alt="Exposure Logo" style=" max-width: inherit; height: 150px;" />
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Images/Logo.png" height="49" width="90" />
                @Html.ActionLink("Exposure", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                        }
                        else if (User.IsInRole("Worker"))
                        {
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Workers")</li>
                        }
                        else if (User.IsInRole("Employer"))
                        {
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Employers")</li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    }
                    <li>@Html.ActionLink("Jobs", "Search", "Jobs")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Help", "Help", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Profile", "Index", "Manage")</li>}
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="nav navbar">
        <div class="container">
            @RenderBody()
        </div>
        <div class="navbar">            
            <hr />
            <footer style="background-color:#ff6a00" class="footer wrapper">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <p style="text-align:left">
                            Exposure <br />
                            Nelson Mandela University- North Campus<br />
                            Port Elizabeth<br />
                            6059
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p style="text-align:left">
                            Contact Details:<br />
                            Tel.:041-487 5478<br />
                            Fax: 041-487 5479<br />
                            Email: admin@exposure.com
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p style="text-align:center">
                            <br /><br /><br />
                            &copy;Exposure - @DateTime.Now.Year
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        window.onscroll = function () { myFunction() };
        // Get the navbar
        var navbar = document.getElementById("navbar");
        // Get the offset position of the navbar
        var sticky = navbar.offsetTop;
        // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
</body>
</html>
