@model Exposure.Entities.JobApplication
@using Exposure.Web.Models
@{
    ViewBag.Title = "Apply";
}

<h2>Job Application form</h2>
@if (TempData["ApplicationSuccess"] != null)
{
    <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["ApplicationSuccess"]
    </div>
}
<div class="form-group form-actions">
    <h3>Employer Details</h3>
    <div class="row">

        <div class="col-md-2 text-center">
            <h4>Profile Picture</h4>
            <hr />
            @foreach (var job in ViewBag.Job)
            {
                <img src="@Url.Action("ProfilePic","Home", new {id= job.Employer.ApplicationUser.Id } )" style="width:160px; height:160px; background:
                        #ff6a00;
                        margin:auto;
                        -moz-border-radius:30px;
                        border-radius:90px;
                        padding:2px;
                        box-shadow:0px 0px 20px #888" />
            }

        </div>

        <div class="col-md-4">
            <h4>Personal Information</h4>
            <hr />
            @foreach (var job in ViewBag.Job)
            {
                <div class="row">
                    <div class="col-md-6"><strong>Employer Name:</strong> </div>  <div class="col-md-6">@job.Employer.ApplicationUser.FirstName @job.Employer.ApplicationUser.LastName</div>
                </div>

                <div class="row">
                    <div class="col-md-6"><strong>Gender:</strong> </div> <div class="col-md-6"> @job.Employer.ApplicationUser.Gender</div>
                </div>

                <div class="row">

                    <div class="col-md-6"><strong>Employer Address:</strong></div>
                    <div class="col-md-6">
                        @job.Employer.ApplicationUser.AddressLine1<br />
                        @if (job.Employer.ApplicationUser.AddressLine2 != null)
                        {
                            @job.Employer.ApplicationUser.AddressLine2; <br />
                        }
                        @job.Employer.ApplicationUser.Suburb.SubName<br />
                        @job.Employer.ApplicationUser.Suburb.City.CityName
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"><strong>Employer Email:</strong></div> <div class="col-md-6">@job.Employer.ApplicationUser.Email</div>
                </div>

                <div class="row">
                    <div class="col-md-6"><strong>Employer Contact No.:</strong></div> <div class="col-md-6">@job.Employer.ApplicationUser.PhoneNumber</div>
                </div>
            }
        </div>

        <div class="col-md-4">
            <h4>Job Details</h4>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @foreach (var job in ViewBag.Job)
                    {
                        <div class="row">
                            <div class="col-md-3"><strong>Job:</strong></div>
                            <div class="col-md-5">@job.Title   </div>
                            @Html.Hidden("JobID")

                        </div>

                        <div class="row">
                            <div class="col-md-3"><strong>Job Description:</strong></div>
                            <div class="col-md-5">@job.Description</div>
                        </div>

                        <div class="row">
                            <div class="col-md-3"><strong>Job Location:</strong></div>
                            <div class="col-md-5">
                                @job.AddressLine1 <br />
                                @if (job.AddressLine2 != null)
                                {
                                    @job.AddressLine2; <br />
                                }
                                @job.Suburb.SubName <br />
                                @job.Suburb.City.CityName
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3"><strong>@Html.LabelFor(model => model.Motivation, htmlAttributes: new { @class = "control-label col-md-2" })</strong></div>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Motivation, new { @class = "form-control", rows = 5, columns = 70 })
                                    @Html.ValidationMessageFor(model => model.Motivation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <div class="form-actions">
                            <div class="col-md-offset-9 col-md-6">
                                <input type="submit" value="Apply" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
