@model IEnumerable<Exposure.Entities.JobApplication>
@using Exposure.Entities


<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Job Applications";
}
@if (TempData["ApplicationSuccess"] != null)
{
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["ApplicationSuccess"]
    </div>
}
<h2>Job Applications</h2>
@using (Html.BeginForm("Index", "JobApplications", FormMethod.Get))
{
    <div>
    <div class="col-md-2">
        <p>Category: </p>@Html.DropDownList("skill", null, "All", new { @class = "form-control" })
        <br />

    </div>
    <div class="col-md-4">
        <br />
        <input type="submit" class="btn btn-default" value="Filter" />
    </div>
</div>
}


    @if (User.IsInRole("Admin"))
    {
    <table class="table">
        <tr>
            <th>
                Employer
            </th>
            <th>
                Worker
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motivation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Response)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Job.Employer.ApplicationUser.FirstName)&nbsp;@Html.DisplayFor(modelItem => item.Job.Employer.ApplicationUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Worker.ApplicationUser.FirstName)&nbsp; @Html.DisplayFor(modelItem => item.Worker.ApplicationUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Response)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.JobApplicationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.JobApplicationID })
            </td>
        </tr>
        }
     </table>
    }
    else if (User.IsInRole("Worker"))
    {   
        <input type="hidden" id="hiddenApplicationID" />
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h3 class="modal-title">Retract Application?</h3>
                    </div>
                    <div class="modal-body">
                        <h4>Are you sure you want to retract this application? </h4>
                        <div style="text-align:center; display:none" id="loaderDiv">
                            <img src="~/Images/InternetSlowdown_Day.gif" width="150" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <a href="#" class="btn btn-success" onclick="DeleteApplication()">Confirm</a>
                        @*<input type="reset" value="Submit" class="btn btn-success" id="btnSubmit"/>*@
                    </div>
                </div>
            </div>
        </div>

        <table class="table">
        <tr>
            <th>Title</th>
            <th>Skill</th>
            <th>Employer</th>
            <th>Start Date</th>
            <th width="250">Job Description</th>
            <th>Rate (R)</th>
            <th>Response</th>
        </tr>
        @if (TempData["Empty"] != null)
        {
            <tr><td> @TempData["Empty"]</td></tr>
        }
        else
        {
            foreach (var application in ViewBag.Applications)
            {
                <tr id="row_@application.JobApplicationID">
                    <td>
                        @application.Job.Title
                    </td>
                    <td>
                        @application.Job.Skill.SkillDescription
                    </td>
                    <td>
                        <a href="@Url.Action("UserDetails", "Account", new {id= application.Job.Employer.EmployerID })">
                            @application.Job.Employer.ApplicationUser.FirstName &nbsp; @application.Job.Employer.ApplicationUser.LastName
                        </a>
                    </td>
                    <td>
                        @application.Job.StartDate
                    </td>
                    <td>
                        @application.Job.Description
                    </td>
                    <td>
                        @application.Job.Rate
                    </td>
                    <td>
                        @application.Response
                    </td>
                    @if(application.Response == Reply.Pending)
                    {
                        <td>
                            <a href="@Url.Action("Edit","Edit", new { id=application.JobApplicationID })" class="btn btn-info" data-toggle="tooltip" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                            @*@Html.ActionLink("Edit", "Edit", new { id = application.JobApplicationID })|*@
                            @*@Html.ActionLink("Retract", "Delete", new { id = application.JobApplicationID })*@
                            <a href="#" class="btn btn-danger" onclick="ConfirmDelete(@application.JobApplicationID)" data-toggle="tooltip" title="Retract"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    }                
                </tr>            
            }            
        }
        </table>       
        
    }
    else if (User.IsInRole("Employer"))
    {
        <table>
        <tr>
            <th>Title</th>
            <th>Skill</th>
            <th>Worker</th>
            <th>Start Date</th>
            <th>Motivation</th>
            <th>Rate (R)</th>
            <th>Response</th>
        </tr>

        @foreach (var application in ViewBag.Applications)
        {
            <tr>
                <td>
                    @application.Job.Title
                </td>
                <td>
                    @application.Job.Skill.SkillDescription
                </td>
                <td>
                    <a href="@Url.Action("UserDetails", "Account", new { id= application.Worker.WorkerID})">
                        @application.Worker.ApplicationUser.FirstName&nbsp; @application.Worker.ApplicationUser.LastName
                    </a>
                </td>
                <td>
                    @application.Job.StartDate
                </td>
                <td>
                    @application.Motivation
                </td>
                <td>
                    @application.Job.Rate
                </td>
                <td>
                    @application.Response
                </td>
                 <td>
                @if(application.Response!=ViewBag.Rejected || application.Response != ViewBag.Hired)
                {
                   
                    <a href="@Url.Action("Edit","JobApplications",new { id = application.JobApplicationID })">Respond</a> <br/>
                   
                }
                @if(application.Job.Completed == true && application.Response == ViewBag.Hired)
                {
                    <a href="@Url.Action("Create", "Reviews", new { job = application.Job.JobID })">Review Worker</a>
                }
                </td>
            </tr>
        }
            </table>
    }
    
<div class="text-left">
    <a href="@Url.Action("Index", "Manage")">Back to profile</a>
</div>
@section scripts{
    
    <script>
    $(document).ready(function () {
        $("#myLoaderDiv").show();

        var myFormData = $("#myForm").serialize();

        $.ajax({
            type: "POST",
            url: "/JobApplications/Index",
            data: myFormData,
            success: function () {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
            }
        })
    })


    var ConfirmDelete = function (ApplicationID) {
        $("#hiddenApplicationID").val(ApplicationID);
        $("#myModal").modal('show');
    }

    var DeleteApplication = function () {

        $("#myLoaderDiv").show();

        var appID = $("#hiddenApplicationID").val();

        $.ajax({
            type: "POST",
            url: "/JobApplications/DeleteConfirmed",
            data: { id: appID },
            success: function () {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + appID).remove();
            }
        })
    }
</script>
    
    }

    
