@model Exposure.Entities.GeneralBusiness
@using Exposure.Entities

@{
    ViewBag.Title = "Company Information";
    var gb = (GeneralBusiness)ViewData["General"];
}

<h2>@ViewBag.Title</h2>
<a href="@Url.Action("Index", "Manage")">Back to Management</a>
<hr />
@using (Html.BeginForm("Edit", "GeneralBusinesses", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    
    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default" style="padding:4em">
            <div class="row">
                <div class="row">
                    <div class="col-md-6">

                        <h4><strong>Company Banner</strong></h4>
                        <div class="col-md-12">
                            <img src="@Url.Action("Banner", "Home")" class="col-md-12" style="width:220px;height:220px; background: #FFFFFF; border:double;
                    border-radius: 0px;
                    width:inherit;
                    margin: auto;
                    padding: 6px;
                    " />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Company Logo</h4>

                        <div class="col-md-6">
                            <img src="@Url.Action("Logo", "Home")" class="col-md-12" style="width:220px;height:220px; align-content:center; background: #FFFFFF;border:double;
                        margin: auto;
                        border-radius: 50px;
                        padding: 6px;
                        " />
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <strong>Company Name</strong>
                </div>
                <div class="col-md-6">
                    @gb.CompanyName
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>Slogan</strong>
                </div>
                <div class="col-md-6">
                    @gb.Slogan
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>Location</strong>
                </div>
                <div class="col-md-6">
                    @gb.Suburb.SubName
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>Telephone No.</strong>
                </div>
                <div class="col-md-6">
                    @gb.TelNo
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>Fax No:</strong>
                </div>
                <div class="col-md-4">
                    @gb.FaxNo
                </div>
            </div>
            <input type="hidden" id="id" value="@gb.ID" />
            <br />
            <div class="row">
                <div class="col-md-12" style="text-align:right">
                    <a href="@Url.Action("Edit", "GeneralBusinesses", new { id= gb.ID })" class="btn btn-default">Edit</a>
                </div>
            </div>
        </div>

        <div class="col-md-2"></div>
    </div>

}


