@model Exposure.Entities.GeneralBusiness

@{
    ViewBag.Title = "Edit Company Details";

}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("","", FormMethod.Post, new {@class="form-horizontal", role="form", enctype="multipart/form-data" } ))
{
    @Html.AntiForgeryToken()

    <div class="col-md-6 form-horizontal panel panel panel-default">
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Slogan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Slogan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Slogan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SuburbID, "Suburb", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m=>m.SuburbID,(IEnumerable<SelectListItem>)ViewBag.Suburbs, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Slogan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TelNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelNo, "", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Slogan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FaxNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FaxNo, "", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Slogan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-lg" />
            </div>
        </div>
    </div>

    <div class="col-md-offset-1 col-md-5">
        <div class="row">
            <div class="col-md-12 panel panel-default panel-body">
                <h3>Select Company Banner</h3>
                <img src="@Url.Action("Banner", "Home")" class="col-md-12" style="width:220px;height:220px; background: #FFFFFF;
                    border-radius: 0px;
                    width:inherit;
                    margin: auto;
                    padding: 6px;
                    border:double;" /><br /><br />
                <input type="file" class="form-control" name="CompanyBanner" id="fileUpload" accept=".png, .jpg, .jpeg, .gif, .tif" />
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12 panel panel-default panel-body" style="align-items:center">
                <h3>Select Company Logo</h3>
                <img src="@Url.Action("Logo", "Home")" class="col-md-12" style="width:220px;height:220px; align-content:center; background: #FFFFFF;
                        margin: auto;
                        border-radius: 50px;
                        padding: 6px;
                        border:double;" /><br /><br />
                <input type="file" class="form-control" name="Logo" id="fileUpload" accept=".png, .jpg, .jpeg, .gif, .tif" />

            </div>
        </div>
    </div>
}
<div>
    <a href="@Url.Action("Index","GeneralBusinesses")">Back to Details</a>
</div>
