@using PagedList;
@using PagedList.Mvc;
@using System.Web.Mvc;
@model IPagedList<Exposure.Entities.Suburb>


@{
    ViewBag.Title = "Suburbs";
}

<h2>
    @ViewBag.Title
</h2>

<p>
    @Html.ActionLink("Add Suburb", "Create")
</p>

<table class="table">
    <tr>
        <th>
            City
        </th>
        <th>
            Suburb
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Suburbs)
    {
        <tr id="row_@item.SuburbID">
            <td>
                @item.City.CityName
            </td>
            <td>
                @item.SubName
            </td>
            <td>
                <a href="@Url.Action("Edit", new {id = item.SuburbID })" class="btn btn-info" data-toggle="tooltip" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
               @* <a href="#" class="btn btn-danger" data-toggle="tooltip" title="Delete" onclick="ConfirmDelete(@item.SuburbID)"><i class="glyphicon glyphicon-trash"></i></a>*@
            </td>
        </tr>
    }

</table>
<div class="col-md-10">
    <div class="center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Suburbs
    </div>
</div><br /><br /><br /> <br />
<input type="hidden" id="hiddenSuburbID" />
<input type="hidden" id="hiddenSubName" />
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Remove Suburb?</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to remove this suburb? </h4>
                <p>
                    <strong>Suburb:</strong>&nbsp;<label for="SubName"></label>
                </p>
                <div style="text-align:center; display:none" id="loaderDiv">
                    <img src="~/Images/InternetSlowdown_Day.gif" width="150" />
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteSuburb()">Confirm</a>

            </div>
        </div>
    </div>
</div>
<script>
    function ConfirmDelete(SuburbID) {
        $("#hiddenSuburbID").val(SuburbID);   
   
        $("#myModal").modal('show');
    }

    var DeleteSuburb = function () {

        $("#myLoaderDiv").show();

        var suburbID = $("#hiddenSuburbID").val();        
        $.ajax({
            type: "POST",
            url: "/Suburbs/Delete",
            data: { id: suburbID },
            success: function () {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + suburbID).remove();
            }
        });
    }
</script>



